extends layout

block content
  - let items = results
  h1= title
  .container-fluid 
    .row 
      each cin in items
        div(class="col-sm-3" style=`border:solid 2px blue` onclick=`buy(${items.indexOf(cin)})`) 
          p.
           giraffe_name -  #{cin.giraffe_name}
          p.
           giraffe_color -  #{cin.giraffe_color}
          p.
           giraffe_weight  -  #{cin.giraffe_weight}
  script.
    function buy(index){
      alert("You purchased item "+index)
    }