extends layout

block content
  - let giraffes  = results
  h1= title
  div(class="container-fluid")
  div(class="row m-1")
    each giraffe in giraffes 
      - let destination = `dispatch(\"/giraffe/update?id=${giraffe._id}\")`
      div(class="row-sm-2", class="m-1") giraffe #{giraffe.giraffe_name}(#{giraffe.giraffe_color}) is #{giraffe.giraffe_weight} 
        button.btn( class="btn-primary ml-1", onclick= destination) Update

  script.
    function dispatch(path){
      window.location.href=path
    }